.autocomplete-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 5px;
  align-items: flex-end;
}

.companyname-input {
  height: 35px !important;
  width: 180px; 
  font-family: "Lexend";
  border-radius: 3px;
  border: 1.2px solid #cac8c8 !important;
  padding-block: 0px !important;
  align-self: last baseline;
}

.autocompletes-container input[type=text] {
  border-right: 1.2px solid #ccc;
}

.companyname-input::placeholder {
  color: #a9a9a9;
  font-family: "Lexend" !important;
  font-weight: 330;
  padding-left: 5px;
  letter-spacing: 0.5px;
  font-size: 12px;
}

.cards-section {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  justify-content:space-between;
  gap: 20px;
}

.main {
  overflow: scroll;
  height: 99vh;
  display: flex;
  flex-direction: column;
  gap: 50px;
  padding-top: 30px;
}

.loading-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.5); 
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.loading-overlay p {
  font-size: 18px;
  font-weight: bold;
}

