.autocomplete-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 5px;
  align-items: flex-end;
}

.companyname-input {
  height: 35px !important;
  width: 180px; 
  font-family: "Lexend";
  border-radius: 3px;
  border: 1.2px solid #cac8c8 !important;
  padding-block: 0px !important;
  align-self: last baseline;
}

.autocompletes-container input[type=text] {
  border-right: 1.2px solid #ccc;
}

.companyname-input::placeholder {
  color: #a9a9a9;
  font-family: "Lexend" !important;
  font-weight: 330;
  padding-left: 5px;
  letter-spacing: 0.5px;
  font-size: 12px;
}

