@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap");

/* Use the font family */
body {
  font-family: 'Lexend' !important;
  overflow: hidden;
}

::-webkit-scrollbar {
  width: 8px;   
  height: 8px; 
}